name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["16", "14", "12"]
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@master
      - name: Setup node
        uses: actions/setup-node@v2.3.0
        with:
          node-version: ${{ matrix.node }}
      - run: yarn install
      - run: yarn build
      - name: Code Climate Coverage Action
        uses: paambaati/codeclimate-action@v2.7.5
        env:
          CC_TEST_REPORTER_ID: 0e025cfbc466290caef3c1871526a7745d29a85daa224ab9fa7786c22eaf9896
        with:
          coverageCommand: yarn coverage
